textarea#text {
    resize: none;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(16, 16, 16);
}

div#menu {
    background-color: rgb(52, 60, 66);
    
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;

    border: solid;
    /* padding: 7dvh 10dvh; */
    width: 90%;
    height: 80%;
}

div#header {

}

div#main {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(0, 5fr) minmax(150px, 1fr);
}

div#main div#left {
    
}

div#main div#middle {
    
}

div#main div#right {
    
}

div#footer {

}