

div.shape {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: red;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
