name: Auto Release

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            # Pega mensagem do commit
            - name: Extract version
              id: version
              run: |
                  MSG="${{ github.event.head_commit.message }}"

                  if [[ "$MSG" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]] || \
                     [[ "$MSG" =~ ^[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
                      echo "VERSION=$MSG" >> $GITHUB_OUTPUT
                  else
                      echo "No valid version format"
                      exit 0
                  fi

            # Criar tag automaticamente
            - name: Create tag
              if: steps.version.outputs.VERSION != ''
              run: |
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"

                  git tag ${{ steps.version.outputs.VERSION }}
                  git push origin ${{ steps.version.outputs.VERSION }}

            # ZIP da branch module
            - name: Create module zip
              if: steps.version.outputs.VERSION != ''
              run: |
                  git fetch origin module
                  git archive --format=zip origin/module -o toolkit.zip

            # Pegar latest.md
            - name: Get latest.md
              if: steps.version.outputs.VERSION != ''
              run: |
                  git show origin/main:latest.md > RELEASE.md

            # Criar Release
            - name: Create Release
              if: steps.version.outputs.VERSION != ''
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ steps.version.outputs.VERSION }}
                  name: Release ${{ steps.version.outputs.VERSION }}
                  body_path: RELEASE.md
                  files: toolkit.zip
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  